<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DogMate 메인</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header">
  <h1>DogMate: 반려견 산책 메이트</h1>
</div>

<div class="container">
  <h2>메인 페이지</h2>
  <p>반려견 산책 메이트를 찾아보세요!</p>
  <p>로그인이 필요하다면 아래 버튼을 클릭하세요.</p>
  <a th:href="@{/login}" class="button">로그인</a>
  <a th:href="@{/signup}" class="button" style="margin-left: 0.5rem;">회원가입</a>
</div>

<script th:src="@{/js/app.js}"></script>
</body>
</html>
